@tailwind base;
@tailwind components;
@tailwind utilities;

.polka-dots {
    background-color: #FFFFFF;
    opacity: 0.1;
    background-image:  linear-gradient(#565656 0.9px, transparent 0.9px), linear-gradient(to right, #565656 0.9px, #FFFFFF 0.9px);
    background-size: 18px 18px;
}

.hero-pic {
    background-image: url('../public/images/asley-pics/asley-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.about-me-pic {
    background-image: url("../public/images/asley-pics/asley-2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 25rem 30rem;
    background-position: center bottom;
    background-position-x: 82%;
    background-origin: border-box;
}

.text-glass-effect {
   /* From https://css.glass */
    background: rgba(0, 0, 0, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}