.project-tag-container {
    margin: 1rem 0rem;

    .project-tag {
        background: rgb(216, 216, 216);
        border-radius: 2rem;
        padding: 0rem 1rem;
        letter-spacing: -1px;
    }
}

