.project-tag-container {
  margin: 1rem 0rem;
}
.project-tag-container .project-tag {
  background: rgb(216, 216, 216);
  border-radius: 2rem;
  padding: 0rem 1rem;
  letter-spacing: -1px;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 7rem;
  overflow: hidden;
  width: 100%;
}
.header-container .logo-container .logo {
  font-family: "Source Serif Pro", serif;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
.header-container .logo-container .logo a {
  color: black;
  text-decoration: none;
  letter-spacing: -1px;
}
.header-container .navbar-container {
  margin: 0rem 14rem 0rem 0rem;
}
.header-container .navbar-container .navbar-ul {
  margin: 0;
  padding: 0;
}
.header-container .navbar-container .navbar-ul li {
  list-style: none;
  display: inline;
  padding: 0rem 2rem;
  font-size: 1rem;
}
.header-container .navbar-container .navbar-ul li a {
  color: black;
  text-decoration: none;
  letter-spacing: -0.5px;
  transition: all ease 0.1s;
}
.header-container .navbar-container .navbar-ul li a:hover {
  color: rgb(125, 125, 125);
  transition: ease 0.1s;
}
.header-container .navbar-container .navbar-ul .contact {
  padding: 0rem 0rem 0rem 2rem;
}

.hero-container {
  display: flex;
  align-items: center;
  margin: 7rem 7rem;
}
.hero-container .area-1 {
  padding: 3rem 0rem 0rem 0rem;
  width: 35rem;
}
.hero-container .area-1 .hello-header {
  font-size: 1.8rem;
  font-family: "Source Serif Pro", serif;
}
.hero-container .area-1 .hello-content {
  padding: 0.8rem 0rem 0rem 0rem;
  font-size: 1.4rem;
  line-height: 40px;
}
.hero-container .area-1 .check-work-container {
  margin: 2.8rem 0rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
}
.hero-container .area-1 .check-work-container .check-work .check-work-link {
  color: rgb(41, 41, 41);
  text-decoration: none;
  transition: all ease 0.4s;
  position: relative;
}
.hero-container .area-1 .check-work-container .check-work a:hover {
  font-size: 1.3rem;
  transition: all 0.4s ease;
  color: black;
}
.hero-container .area-1 .check-work-container .check-work .check-work-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #111111;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}
.hero-container .area-1 .check-work-container .check-work .check-work-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hero-container .area-2 {
  border: 1px solid green;
}

.portfolio-container {
  display: flex;
  align-items: center;
  margin: 23rem 7rem;
}
.portfolio-container .area-1 {
  width: 30rem;
}
.portfolio-container .area-1 .section-tag-container .feature-projects-tag {
  font-size: 1rem;
}
.portfolio-container .area-1 .section-tag-container .feature-projects-tag::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #555;
  vertical-align: top;
  margin-top: 11px;
  margin-right: 10px;
}
.portfolio-container .area-1 .project-about {
  padding: 7rem 0rem 0rem 0rem;
}
.portfolio-container .area-1 .project-about h1 {
  font-size: 2.2rem;
}
.portfolio-container .area-1 .project-about p {
  margin: 1rem 0rem 0rem 0rem;
  font-size: 1.3rem;
  color: rgb(136, 136, 136);
  letter-spacing: 1px;
  line-height: 2.2rem;
}/*# sourceMappingURL=style.css.map */